<!-- <div class="container"> -->
    <app-usertoolbar></app-usertoolbar>


    <div class="row">
        <div class="col-lg-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-7">

           <br><br> <p>My Organizations</p>
           <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            <app-user-table></app-user-table>
            <br><p>As a Organizer</p>
            <app-newsfeed></app-newsfeed>
            <br><p>As a Member</p>
            <app-newsfeed></app-newsfeed>

        </div>
        <div class="col-lg-3">  
            <div class="row">
            <div class="col-lg-5 d-flex justify-content-right image">
                
                <img src="./assets/img/June-2021.jpg" alt="" style="width: 300px; height: 200px;">
              </div>
            </div>
        </div>
       
    </div>
    
<!-- </div> -->
    



