<!-- <div class="container"> -->
    <app-usertoolbar></app-usertoolbar>


    <div class="row">
        <div class="col-lg-2">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-7">

           <br><br> <p>My Organizations</p>
           <button type="button" class="btn btn-primary btn-lg"><b>Join to an Organization</b></button>
            <button type="button" class="btn btn-secondary btn-lg"><b>Create an organization</b></button><br><br>
            <app-user-table></app-user-table>
            <br><p>As a Organizer</p>
            <app-newsfeed></app-newsfeed>
            <br><p>As a Member</p>
            <app-newsfeed></app-newsfeed>

        </div>
        
       
    </div>
    
<!-- </div> -->
    



